// --------------------------------------------------
// ファンクション
// --------------------------------------------------

// ------------------------------------------------------------
// カードサイズ取得
// param : 
//  $margin マージン
//  $num 枚数
// ------------------------------------------------------------
@function getCardWith($margin, $num) {
	@return calc(((100% - (#{$margin} * (#{$num} - 1))) / #{$num}) - 1px);
}
