<footer class="l-footer">
	<div class="c-inner l-footer__inner">

		<nav class="l-footer__nav">
		</nav>

		<small class="l-footer__copy-right">

		</small>

	</div><!-- /.l-footer__inner -->
</footer>
