<header class="l-header">
	<div class="l-header__inner">

		<!-- タイトル：ロゴ -->
		<h1 class="l-header__title">
			<a href="index"><img src="img/logo.png" alt="ロゴ"></a>
		</h1>

		<!-- ナビゲーション -->
		<nav class="l-header__nav">
		</nav><!-- /.l-header__nav -->

		<!-- ドロワーメニュー -->
		<div class="l-header__drawer for-drawer" id="js-drawer" data-target="for-drawer">
			<div class="l-header__bars">
				<span class="l-header__bar"></span>
				<span class="l-header__bar"></span>
				<span class="l-header__bar"></span>
			</div>
		</div>

		<!-- ドロワー背景 -->
		<div class="l-header__drawer-bg for-drawer"></div>

	</div><!-- /.l-header__inner -->
</header>
