.a{
    // margin-top: *px;

    &__inner{
        // width:(*px/$layout-pc-width-canvas) * 100%;
        // padding: 0 *px 0 *px;
        @include mq(sp) {
            // width:(*px/$layout-pc-width-canvas) * 100%;
            // padding: 0 *px 0 *px;
        }
    }

    &__title{
        // 
    }
}