extends _layout

//- タイトルを指定
block title
	title タイトルタイトルタイトルタイトルタイトル

//- 
block content
	.wrapper


		// ヘッダー
		include components/_header

		// メイン
		main.main 

			//- utilリンク
			//- .util__link.__link
			//- 	a(href="#") お問い合わせ
			//- 変数


		//- セクション
		section#dammy_id.dammy_class
			h2.section__title.__title セクションタイトル
			.inner__inner

		// アクセス
		section#access.access
			h2.section__title.__title セクションタイトル
			.inner__inner


		// フッター
		include components/_footer
