// ------------------------------------------------------------
// ボタン
// ------------------------------------------------------------
.c-btn {
	display: flex;
	align-items: center;
	font-weight: $font-weight-bold;
	text-align: center;
	cursor: pointer;
	&:hover {
		opacity: $hover-opacity;
	}

	> span {
		display: inline-block;
		width: 100%;
	}
}
