// ------------------------------------------------------------
// 表示制御（表示）
// ------------------------------------------------------------
.c-display-only {
	// PCだけ表示
	&-pc {
		@include mq(tab) {
			display: none;
		}
		@include mq(sp) {
			display: none;
		}
	}
	// タブレットだけ表示
	&-tab {
		@include mq(pc) {
			display: none;
		}
		@include mq(sp) {
			display: none;
		}
	}
	// スマホだけ表示
	&-sp {
		@include mq(pc) {
			display: none;
		}
		@include mq(tab) {
			display: none;
		}
	}
}
