// ------------------------------------------------------------
// フォント
// ------------------------------------------------------------
.c-font {
	// 基本設定（よく使う文字）
	&-normal {
		@include mq(tab-only) {
			font-size: 1.4rem;
			line-height: 1.4;
			letter-spacing: .05em;
		}
		@include mq(sp) {
			font-size: 1.2rem;
			letter-spacing: .05em;
		}
		font-size: 1.6rem;
		line-height: 1.6;
		letter-spacing: .05em;
	}
	// 大
	&-large {
		// 
	}
	// 小
	&-small {
		// 
	}
}
