// ------------------------------------------------------------
// 表示制御（非表示）
// ------------------------------------------------------------
.c-hidden {
	// PCだけ非表示
	&-pc {
		@include mq(pc) {
			display: none;
		}
	}
	// タブレットだけ非表示
	&-tab {
		@include mq(tab-only) {
			display: none;
		}
	}
	// SPだけ非表示
	&-sp {
		@include mq(sp) {
			display: none;
		}
	}
}
