// ------------------------------------------------------------
// インナー
// width：固定値
// max-width：100% → 縮めたときには100%表示
// ------------------------------------------------------------
.c-inner {
	width: $layout-width-inner-pc;
	max-width: 100%;
	height: inherit;
	margin: 0 auto;
}
