header.header
	.inner.header__inner 
		h2.heaer__title セクションタイトル

		// ドロワーメニュー
		.header__drawer.for-drawer#js-drawer(data-target="for-drawer")
			.header__drawer--bars
				- for (var x = 0; x < 3; x++)
					.header__drawer--bar

		// ドロワー背景
		.header__drawer-bg.for-drawer

		// ナビゲーションリンク
		nav.header__nav.for-drawer
			ul.header__nav--list
				each item in sectionList
					li.header__nav--item
						a(href="#" + item.id).header__nav--link.js-drawer-item #{item.label}
