.contact{
    @extend %section-padding;
    &__inner{
        // width:(*px / $layout-width-canvas-pc) * 100%;
        // padding: 0 *px 0 *px;
        @include mq(tab) {
            // width:(*px / $layout-width-canvas-tab) * 100%;
            // padding: 0 *px 0 *px;
        }
        @include mq(sp) {
            // width:(*px / $layout-width-canvas-sp) * 100%;
            // padding: 0 *px 0 *px;
        }
    }

    &__title{
    
    }

    &__content{
    
    }

    &__list{
    
    }

    &__item{
        &--title{
        
        }
        &--desc{
            select{
                // 
            }
            input{
                // 
            }
            textarea{
                // 
            }
            input[type="text"]{
                // 
            }
            input[type="email"]{
                // 
            }
        }
    }
    
    &__radio{
    
    }

    &__privacy{
    
    }

    &__submit{
    
    }
}