.contact {
	@extend %section-padding;
	&__inner {
		// width:(*px / $layout-width-canvas-pc) * 100%;
		// padding: 0 *px 0 *px;
		@include mq(tab) {
			// width:(*px / $layout-width-canvas-tab) * 100%;
			// padding: 0 *px 0 *px;
		}
		@include mq(sp) {
			// width:(*px / $layout-width-canvas-sp) * 100%;
			// padding: 0 *px 0 *px;
		}
	}

	// =================================================================================
	// 各項目設定
	// =================================================================================
	&__item {
		& + & {
			margin-top: 30px;
		}

		// タイトル ===============================================
		dt {
			// 必須マーク
			&.is-required {
				display: flex;
				align-items: center;
				&::after {
					display: block;
					width: 50px;
					margin-left: 20px;
					background: $black;
					color: $white;
					text-align: center;
					content: '必須';
				}
			}
		}

		// 入力欄 ==================================================
		dd {
			margin-top: 20px;
			select {
				// 
			}

			// apperance:none

			// ラジオボタン、チェックボックス以外は、横幅いっぱい
			input:not([type='radio']):not([type='checkbox']),
			textarea {
				width: 100%;
				&:hover,
				&:focus {
					border: 1px solid $blue-active;
					box-shadow: 0px 0px 5px 0px $blue-active;
					outline: none;
				}
			}
			input {
				height: 40px;
				padding: 5px 10px;
			}
			textarea {
				padding: 10px;
				line-height: 1.6;
				white-space: pre-wrap;// textareaに改行あり
			}
			input[type='text'] {
				// 
			}
			input[type='email'] {
				// 
			}
			input[type='checkbox'] {
				// 
			}
		}
		// ============================================
		// チェックボックス
		// ============================================
		&.is-checkbox {
			text-align: center;
			// デフォルトチェックボックス非表示
			input[type='checkbox'] {
				display: none;
				// ホバー時：外枠に影を表示
				&:hover {
					& + label {
						&::before {
							border: 1px solid $blue-active;
							box-shadow: 0px 0px 5px 0px $blue-active;
						}
					}
				}
				// チェック時：色反転
				&:checked {
					& + label {
						&::before {
							background: $black;
						}
						&::after {
							opacity: 1;
						}
					}
				}
			}
			// ラベル
			label {
				position: relative;
				cursor: pointer;
				// カスタムチェックボックス
				&::before,
				&::after {
					display: block;
					position: absolute;
					content: '';
					transition: all $transition-change-time ease 0s;
				}
				// カスタムチェックボックス（外枠）
				&::before {
					top: -2px;
					left: -30px;
					width: 20px;
					height: 20px;
					border: 1px solid $black;
				}
				// カスタムボタン（内ぺけ）
				&::after {
					opacity: 0;
					top: 0px;
					left: -23px;
					transform: rotate(45deg);
					width: 6px;
					height: 12px;

					border-bottom: 2px solid $white;
					border-right: 2px solid $white;
				}
			}
		}
		// ============================================
		// ラジオボタン（横並びかつ、ラベルとボタンも横並び）
		// ============================================
		&--radio {
			// 要素を横並びに
			display: inline-flex;
			align-items: center;
			// デフォルトボタン
			input[type='radio'] {
				// デフォルトボタン非表示
				display: none;
				// ホバー時：外枠に影を表示
				&:hover {
					& + label {
						&::before {
							border: 1px solid $blue-active;
							box-shadow: 0px 0px 5px 0px $blue-active;
						}
					}
				}
				// チェック時：カスタムボタンの色変化
				&:checked {
					& + label {
						&::after {
							background: $black;
						}
					}
				}
			}
			// ラベル
			label {
				position: relative;
				// カスタムボタンを配置するスペース確保
				margin-left: 80px;
				cursor: pointer;
				// カスタムボタン
				&::before,
				&::after {
					display: block;
					position: absolute;
					border-radius: 50%;
					content: '';
					transition: all $transition-change-time ease 0s;
				}
				// カスタムボタン（外◯）
				&::before {
					top: -2px;
					left: -30px;
					width: 20px;
					height: 20px;
					border: 1px solid $black;
				}
				// カスタムボタン（内◯）
				&::after {
					top: 2px;
					left: -26px;
					width: 12px;
					height: 12px;
					background: $white;
				}
			}
			&:first-child {
				label {
					margin-left: 50px;
				}
			}
		}
		// ============================================
		// 個別設定
		// ============================================
		&.is-kind {
			// 
		}
		&.is-name {
			// 
		}
		&.is-name-kana {
			// 
		}
		&.is-email {
			// 
		}
		&.is-phone {
			// 
		}
		&.is-request {
			// 
		}
		&.is-remark {
			// 
		}
        &.is-privacy-check{
            // 
        }
	}

    // 送信ボタン
    &__submit{
        // 
    }
}