<!DOCTYPE html>
<html lang="ja">

<head>
	<%- include('./10_layout/_head') %>
	<title>タイトルタイトル</title>
</head>


<body>

	<%# グローバル変数読み込み %>
	<%- include('./00_config/_variable') %>

	<div class="wrapper">

		<!-- ヘッダー -->
		<%- include('./10_layout/_header') %>

		<div class="container">

			<main class="main">
			</main>

			<aside class="aside">
			</aside>

		</div><!-- /.container -->

		<!-- フッター -->
		<%- include('./10_layout/_footer') %>


	</div><!-- /.wrapper -->
</body>

</html>
