<!DOCTYPE html>
<html lang="ja">

<head>
	<%- include('./10_layout/_head') %>
	<title>タイトルタイトル</title>
</head>


<body>

	<%# グローバル変数読み込み %>
	<%- include('./00_config/_variable') %>

	<div class="l-wrapper">

		<!-- ヘッダー -->
		<%- include('./10_layout/_header') %>

		<div class="l-container">

			<main class="l-main p-top">
				<section class="p-top__main">
					<div class="p-top-main">
					</div><!-- /.p-top-main -->
				</section>
			</main>

			<aside class="l-aside">
			</aside>

		</div><!-- /.l-container -->

		<!-- フッター -->
		<%- include('./10_layout/_footer') %>


	</div><!-- /.l-wrapper -->
</body>

</html>
