// ------------------------------------------------------------
// フォントユーティリティー
// ------------------------------------------------------------
.u-f {
	$sizes: 10,15,18,20,22,24,26,28,30;
		
	// 太字
	&b {
		font-weight: $font-weight-bold;
	}
	// サイズ
	&s {
		@each $size in $sizes {
			&-#{$size} {
				font-size: (#{$size}/10)px;
			}
		}
	}
	// 色
	&c{
		&-red{
			color: red;
		}
		&-blue{
			color: red;
		}
	}
}