// ------------------------------------------------------------
// マージンユーティリティー
// ------------------------------------------------------------
.u-m {
	$list: 5,10,15,20;

	// トップ
	&t {
		@each $num in $list {
			&-#{$num} {
				margin-top: #{$num}px;
			}
		}
	}
	// ライト
	&r {
		@each $num in $list {
			&-#{$num} {
				margin-right: #{$num}px;
			}
		}
	}
	// ボトム
	&b {
		@each $num in $list {
			&-#{$num} {
				margin-bottom: #{$num}px;
			}
		}
	}
	// レフト
	&l {
		@each $num in $list {
			&-#{$num} {
				margin-left: #{$num}px;
			}
		}
	}
}
