// -----------------------------------------------------------------------------
// 共通系（便利系）
// -----------------------------------------------------------------------------

// ------------------------------------------------------------
// インナー
// width：固定値
// max-width：100% → 縮めたときには100%表示
// ------------------------------------------------------------
.inner {
	// width: ($layout-width-inner-pc / $layout-width-canvas-pc) * 100% ;
	width: $layout-width-inner-pc;
	max-width: 100%;
	height: inherit;// 高さは親を継承
	margin: 0 auto;

	@include mq(tab-only) {
		width: $layout-width-inner-tab;
	}
	@include mq(sp) {
		// width: auto;
		// width: ($layout-width-inner-sp / $layout-width-canvas-sp) * 100% ;
		width: $layout-width-inner-sp;
		// margin: 0 *px;// 固定マージン
	}
}

// ------------------------------------------------------------
// ページタイトル
// ------------------------------------------------------------
.page-title{
	
}

// ------------------------------------------------------------
// セクションタイトル
// ------------------------------------------------------------
.section-title {

	font-weight: $font-weight-bold;
	// font-size: *rem;
	font-family: $font-family-english;// 英語の場合
	text-align: center;

	@include mq(sp) {
		// font-size: *rem;
	}
}

// ------------------------------------------------------------
// スペーサー
// ------------------------------------------------------------


// ------------------------------------------------------------
// 表示制御（表示）
// ------------------------------------------------------------
// PCだけ表示
.display-only-pc {
	@include mq(tab) {
		display: none;
	}
}

// タブレットだけ表示
.display-only-tab {
	@include mq(pc) {
		display: none;
	}
	@include mq(sp) {
		display: none;
	}
}

// スマホだけ表示
.display-only-sp {
	@include mq(pc) {
		display: none;
	}
	@include mq(tab-only) {
		display: none;
	}
}

// ------------------------------------------------------------
// 表示制御（非表示）
// ------------------------------------------------------------

// PCだけ非表示
.hidden-pc {
	@include mq(pc) {
		display: none;
	}
}

// タブレットだけ非表示
.hidden-tab {
	@include mq(tab-only) {
		display: none;
	}
}

// スマホだけ非表示
.hidden-sp {
	@include mq(sp) {
		display: none;
	}
}

// ------------------------------------------------------------
// paddingクラス
// ------------------------------------------------------------
.p {
	&t{
		&-40{
			padding-top: 40px;
		}
		&-60{
			padding-top: 60px;
		}
	}
	&b{
		&-40{
			padding-bottom: 40px;
		}
		&-60{
			padding-bottom: 60px;
		}
		&-120{
			padding-bottom: 120px;
		}
	}
}

// ------------------------------------------------------------
// util
// ------------------------------------------------------------
$util-link-width-pc: 100px;
$util-link-height-pc: 50px;
$util-link-width-sp: $util-link-width-pc;
$util-link-height-sp: $util-link-height-pc;
$util-link-border-size: 3px;
.util {
	// 共通リンクボタン
	&-link {
		cursor: pointer;
		width: $util-link-width-pc;
		height: $util-link-height-pc;
		margin: 0 auto;
		font-weight: $font-weight-bold;
		// font-size: *rem;
		line-height: getLineHeightForBox($util-link-height-pc, $util-link-border-size);
		text-align: center;

		@include mq(sp) {
			width: $util-link-width-sp;
			height: $util-link-height-sp;
			// font-size: *rem;
			line-height: getLineHeightForBox($util-link-height-sp, $util-link-border-size);
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
			border-width: $util-link-border-size;
			border-style: solid;
			border-color: $black;
			transition: all $transition-change-time ease 0s;
			&:hover {
				border-color: $white;
				background: $black;
				color: $white;
			}
		}
	}

	// フローティングアイテム
	&-floating {
		opacity: 0;
		position: fixed;
		right: 30px;
		bottom: 30px;
		z-index: map-get($layer , floating);
		width: 50px;
		height: 50px;
		border: 1px solid $black;
		background: $black;
		transition: all .8s ease 0s;
		&::before {
			display: block;
			position: absolute;
			top: 20px;
			left: 17px;
			transform: rotate(45deg);
			width: 15px;
			height: 15px;
			content: '';
			transition: opacity 1s ease 0s;

			$util-floating-border: 3px solid $white;
			border-top: $util-floating-border;
			border-left: $util-floating-border;
		}
		&.is-show {
			opacity: 1;
		}
	}
}

// ------------------------------------------------------------
// wrapper
// ------------------------------------------------------------
.wrapper {
	//
}

// ------------------------------------------------------------
// container （メインとサイドバーをラップ）
// ------------------------------------------------------------
.container {
	// display: flex;
	// justify-content: space-between;
}

$sidebar-width-pc: 200px;
$sidebar-width-tab: 150px;
$sidebar-width-sp: 100px;

$container-margin-width-pc: 20px;

// ------------------------------------------------------------
// main
// ------------------------------------------------------------
.main {
	// width: getMinus100Percent($sidebar-width-pc + $container-margin-width-pc );
}

// ------------------------------------------------------------
// aside
// ------------------------------------------------------------
.aside {
	// width: $sidebar-width-pc;
}
