// --------------------------------------------------
// 基本設定
// --------------------------------------------------

// カラー(必要に応じて変更すること)
$black: #333333;
$gray: #afadad;
$dark-gray: #3e3e3e;
$white: #ffffff;
$red: #e81919;
$red-active: #f1b4b4;
$blue: #3f51b5;
$blue-active: #aedaee;

// ---
$color-active: $red; // アクティブ色
$color-background-base: $white; // 背景色
$color-text-base: $black; // テキスト色
$hover-opacity: .6; // 透過度

// ヘッダー高さ
$header-height-pc: 100px;
$header-height-sp: 60px;

// 余白
$padding-pc: 40px;
$padding-tab: 24px;
$padding-sp: 15px;

// レイアウト幅
$layout-width-canvas-pc: 1280px;
$layout-width-inner-pc: $layout-width-canvas-pc - ($padding-pc * 2);
$layout-width-canvas-tab: 768px;
$layout-width-inner-tab: $layout-width-canvas-tab - ($padding-tab * 2);
$layout-width-canvas-sp: 375px;
$layout-width-inner-sp: $layout-width-canvas-sp - ($padding-sp * 2);

// 階層
$layer: (
	modal: 100, // モダール
	drawer: 40, // ドロワー
	drawer-bg: 39, // ドロワーバックグラウンド
	floating: 30, // フローティングアイテム
	header: 20, // ヘッダー
	footer: 10, // フッター
	default: 1,
);

// トランジションタイム
$transition-change-time: 0.3s;

// フォントインポート

// ---------------------------------------------------------------------------
// フォント
// https://saruwakakun.com/html-css/basic/font-family-how-to
// $font-family-default: "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif; // 標準フォント
// ---------------------------------------------------------------------------
$font-family-default: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
$font-family-english: sans-serif;
$font-family-base: $font-family-default;
$font-weight-base: 400;
$font-weight-bold: 600;
$line-height-base: 1;// 基本設定
$line-height-pra-base: 1.6;// 文章の場合の基本設定
// フォントサイズ
// $font-size-max: 3.4rem;
// $font-size-large: 2.2rem;
// $font-size-medium: 1.8rem;
$font-size-base: 1.6rem; // 基準サイズ
// $font-size-small: 1.4rem;
// $font-size-min: 1.2rem;

// ブレイクポイント
$max-width-sp: 559;
$max-width-tab: 959;
$breakpoints: (
	'sp': '(max-width: #{$max-width-sp}px)', // 〜559
	'tab-only': '(min-width: #{$max-width-sp + 1}px) and (max-width: #{$max-width-tab}px)', // 560〜959
	'tab': '(max-width: #{$max-width-tab}px)', // 〜959
	'pc': '(min-width: #{$max-width-tab + 1}px)', // 960〜
);
// $breakpoints:(
// 	"sp": "(max-width: 767px)",// ~767
// 	"tab-only": "(min-width: 768px) and (max-width: #{$layout-width-inner + $padding-pc * 2 - 1px})",// 768~1247
// 	"tab": "(max-width: #{$layout-width-inner + $padding-pc * 2 - 1px})",// ~1247
// 	"pc": "(min-width: #{$layout-width-inner})",// 1200~
// );
