//-------------------------------------------------- 
//- 共通変数管理
//-------------------------------------------------- 

//- 変数は全ファイルで共通！
	accessの中で定義した変数メイと同一の変数名の変数をcontactで定義した場合はエラー
	同じファイルを2回includeしてもエラー


//- セクションタイトルリスト
- 
	const sectionList = [
		{'id':'access','label':'アクセス'},
		{'id':'contact','label':'お問い合わせ'},
	]