//-------------------------------------------------- 
//- 共通変数管理
//-------------------------------------------------- 




//- セクションタイトルリスト
- 
	const sectionList = [
		{'title':'access','titleDisplay':'アクセス'},
		{'title':'contact','titleDisplay':'お問い合わせ'},
	]
	//- const sectionList2=[]